.App {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #232429;
  padding: 15px;
  font-family: 'Hanken Grotesk','Inter', sans-serif;
  color: rgb(253, 255, 232);
}

:root{
  --neon:#c2fe0b;
  --violet:#5200ff;
  --darkblue:#29324f;
  --red:#FF1261;
  --gray:#33343D;
}

body {
  cursor: url('./Cursors/white-circle-cursor.png'), auto;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--neon); /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 5px;
  padding: 1px;
}

img{
  object-fit:contain;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0A0A0A;
  border-radius: 5px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neon); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--neon);
  border-radius: 10px;
}

.switch{
  width:100px;
  background-color: #282c34;
  position: relative;
  height: 50px;
  justify-content: center;
}

.switch div{
  position: absolute;
  padding: 13px;
  background-color:var(--red);
  width: 55px;
  height: 50px;
  align-self: center;
}
a{
  text-decoration: none;
  color: white;
  cursor: url('./Cursors/clickable-cursor.png'), auto;
}

* {
  box-sizing: border-box;
}

h3{
  margin: 2px;
}

h2{
  margin: 2px;
}
h1{
  position:relative;
  margin: 4px;
  margin-bottom: 20px;
}

h1::after{
  content:'';
  background: var(--neon);
  height:4px;
  width: 100%;
  position: absolute;
  left:0;
  bottom:0;
}

/* LOADING PAGE */

.loading-page{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0C0F0C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  0%   {transform: scale(1);}
  25%  {transform: scale(1.5);}
  50%  {transform: scale(1);}
  75% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.centre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-grid{
  display:grid;
  width: 1000px;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}

.child{
  padding: 5px;
  grid-row: 2;
  grid-column: 1/3;
  position: relative;
}

/* FIRST GRID ITEM 1st Grid */

.hero-grid{
  grid-row: 1;
  grid-column: 1/3;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 10px;
}

.intro{
  grid-row: 1/2;
  grid-column: 1/3;
  gap: 5px;
}

.tech{
  grid-column: 1/5;
  grid-row: 2/3;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  color: #b8b7b7;
}



.tech div{
  background-color: var(--gray);
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  border: #464940 solid 0.5px;
}



.socials{
  position: fixed;
  left:0;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 1rem;
  background: #1A1A1A;
  padding: 10px;
  border: solid 1px rgb(155, 148, 148);
}

.button{
  padding: 13px;
  background-color:var(--red);
  font-family:'Chakra Petch', sans-serif;
  width: 150px;

}

.button:hover{
  transition: ease-in-out;
  transform: scale(1.1);
  transition-duration: 150ms;
  border: solid 1px var(--red);
  background-color: #29324f;
  color: white;
}


.card {
  perspective: 1000px;
  cursor: url('./Cursors/clickable-cursor.png'), auto;
  position: relative; /* Add this line */      /* Add a fixed height if needed */
  height:400px;
}


.card-inner{
  position: relative;
  width: 100%;
  height:90%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped{
  transform: rotateY(180deg);
}


.toggle:hover{
  transition: ease-in-out;
  transform: scale(1.2);
  transition-duration: 200ms;
}

.toggle{
  position: absolute;
  top: 0;
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: url('./Cursors/clickable-cursor.png'), auto;
  background:var(--violet);
}

/* .card:hover .card-inner {
  transform: rotateY(180deg);
} */

.flip:hover h2{
  color: red;
}

.card-front,
.card-back {
  width: 100%;
  backface-visibility: hidden;
  position: absolute; /* Overlay front and back */
  top: 0;
  left: 0;
  align-items: center;
  border-radius: 0.5rem;
  gap:20px;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
}

.project-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  border-top: #464940 solid 0.5px;
  border-bottom: #464940 solid 0.5px;
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.work-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: var(--gray);
  border-top: #464940 solid 0.5px;
  border-bottom: #464940 solid 0.5px;
}
/* PROJECTS 2nd Grid */


/* FLIP - EXPERIENCE - EDUCATION 3rd Grid */

.hidden{
  opacity: 0;
  transition: 1s;
  transform: translateY(5%);
}

.show{
  opacity: 1;
  transition: 1s;
  transform: translateY(0%);
}

.show:nth-child(1){
  animation-delay: 200ms;
}

.show:nth-child(2){
  animation-delay: 400ms;
}

.show:nth-child(3){
  animation-delay: 600ms;
}

.tech-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.tech-item.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 480px) {
  
  .tech{
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }

  p, h2{
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .button{
    width: 100px;
    padding: 2px;
    text-align: center;
  }

  .project-item{
    text-align: left;
  }

  .switch{
    height: 30px;
    width: 60px;
  }

  .switch div{
    height: 30px;
    width: 30px;
    padding: 5px;
  }

  .socials{
    display: none;
  }
  
}




